@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    background-color: #3E3E3E;
    font-family: 'Poppins', sans-serif !important;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
<<<<<<< HEAD:client/src/assets/css/Main_App.css

  .hero-banner-img {
=======
.hero-banner-img {
>>>>>>> main:client/src/App.css
    position: absolute;
    right: 0px;
    top: 58%;
    max-width: 55%;
    margin-top: -330px;  
    z-index: -5;
  }

  .footer-image{
    position: absolute;
    top: 25%;
    width: 200px;
    height: 60px;
  }

  .social-media-image{
    position: absolute;
    width: 180px;
    height: 45px; 
  }

  .hero-aboutus-img{
    position: absolute;
    right: 0px;
    left:-65px;
    top: 180px;
    width: 550px;
    height: 400px;
    margin-top: -330px;  
  }


  .food-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .food-card:hover {
    transform: scale(1.1, 1.1);
  }

  .right-arrow,
  .left-arrow {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF2625;
    font-size: 25px;
    border-radius: 4px;
    position: absolute;
    bottom: -20px;
    right: 80px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .right-arrow {
    right: 140px;
  }
  
  .right-arrow:hover,
  .left-arrow:hover {
    transform: scale(1.3, 1.3);
  }
  
  .react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }


  